<!DOCTYPE html>
<html>
    <head>
        <title>Cunningsoft Suggest</title>
    </head>
    <body>
        <h1>Cunningsoft Suggest</h1>
        <a href="{{ path('cunningsoft_suggest_list') }}">{{ 'overview'|trans({}, 'CunningsoftSuggestBundle') }}</a>
        {% block cunningsoft_suggest_content %}{% endblock %}
    </body>
</html>
